@charset "UTF-8";
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fad3c5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}
.loading .paws {
  display: flex;
  gap: 20px;
}
.loading .paws .paw {
  width: 60px;
  opacity: 0.8;
  transform: translateY(0);
  animation: bounce 0.6s ease;
}
.loading .paws .paw1 {
  animation-delay: 0s;
}
.loading .paws .paw2 {
  animation-delay: 0.3s;
}
.loading .paws .paw3 {
  animation-delay: 0.6s;
}

.fade-up {
  animation: fadeUp 1s ease forwards;
}

/* ピョコっとする動き */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px); /* 上にふわっと消える */
  }
}
html {
  font-size: 100%;
  font-family: "Kiwi Maru", serif;
  background-color: #FFF8F0;
  color: #5D5247;
}

body {
  font-size: 0.98rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #5D5247;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1024px;
  padding-inline: 15px;
  margin-inline: auto;
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

.wrapper {
  max-width: 768px;
  margin-inline: auto;
}

.section-title {
  margin-bottom: 48px;
}
.section-title h2 {
  display: inline-block;
  font-size: 2rem;
  position: relative;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .section-title h2 {
    font-size: 1.8rem;
  }
}
.section-title h2::before {
  width: 100%;
  height: 5px;
  content: "";
  background: linear-gradient(to right, #DAE6D2, #FFF8F0);
  position: absolute;
  left: 0;
  bottom: -10px;
}

.btn {
  width: 280px;
  position: relative;
  font-weight: bold;
  text-align: center;
  background-color: #FAD3C5;
  border-radius: 30px;
  border: 0.5px solid #5D5247;
  box-shadow: 0px 4px 8px 0px rgba(75, 75, 75, 0.25);
  transition: 0.3s ease;
  padding: 15px 50px;
  margin-top: 16px;
}
@media (max-width: 768px) {
  .btn {
    width: 200px;
  }
}
.btn:hover {
  opacity: 0.8;
}
.btn::after {
  width: 60%;
  height: 1px;
  content: "";
  position: absolute;
  bottom: 8px;
  left: 20%;
  transform: scaleX(0);
  transform-origin: center;
  background-color: #5D5247;
  transition: 0.3s ease;
}
.btn:hover::after {
  transform: scaleX(1);
}

header {
  width: 100%;
  height: 96px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.8);
  padding-inline: 15px;
  transition: top 0.3s ease;
  z-index: 999;
}
@media (max-width: 450px) {
  header {
    height: 56px;
  }
}
header .logo {
  width: 250px;
}
@media (max-width: 450px) {
  header .logo {
    width: 200px;
  }
}
header .logo img {
  width: 100%;
}
header nav {
  font-size: 0.68rem;
  z-index: 99;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-left: 20px;
}
header nav ul li:hover {
  opacity: 0.8;
}
header nav ul li img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  header nav {
    width: 100%;
    height: 100vh;
    font-size: 0.98rem;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    transform: translateY(-100%);
    transition: 0.8s ease;
    text-align: center;
    padding: 96px 48px;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li {
    margin-bottom: 32px;
  }
}
header .toggle {
  width: 50px;
  height: 30px;
  display: none;
}
@media (max-width: 1024px) {
  header .toggle {
    display: block;
    transition: 0.3s ease;
    cursor: pointer;
    position: relative;
    z-index: 99;
  }
  header .toggle:hover {
    opacity: 0.8;
  }
  header .toggle span {
    width: 100%;
    height: 1px;
    display: block;
    background-color: #5D5247;
    position: absolute;
    left: 0;
    top: 100%;
    transition: 0.3s ease;
  }
}
header .mask {
  display: none;
  opacity: 0;
  transition: 0.8s ease;
}
@media (max-width: 1024px) {
  header .mask {
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #FAD3C5;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    z-index: 90;
  }
}
header.open nav {
  opacity: 1;
  transform: translateY(0);
  overflow: auto;
  overscroll-behavior: contain;
}
header.open nav ul li {
  animation: fadeIn 1.2s forwards;
}
header.open nav ul li:nth-child(1) {
  animation-delay: 0.5s;
}
header.open nav ul li:nth-child(2) {
  animation-delay: 0.6s;
}
header.open nav ul li:nth-child(3) {
  animation-delay: 0.7s;
}
header.open nav ul li:nth-child(4) {
  animation-delay: 0.8s;
}
header.open nav ul li:nth-child(5) {
  animation-delay: 0.9s;
}
header.open nav ul li:nth-child(6) {
  animation-delay: 1s;
}
header.open nav ul li:nth-child(7) {
  animation-delay: 1.1s;
}
header.open nav ul li:nth-child(8) {
  animation-delay: 1.2s;
}
header.open nav ul li:nth-child(9) {
  animation-delay: 1.3s;
}
header.open nav ul li:nth-child(10) {
  animation-delay: 1.4s;
}
header.open .toggle {
  height: 80px;
  margin: 50px 0 0 0;
}
header.open .toggle span:nth-of-type(1) {
  transform: translateY(-150%) rotate(315deg);
  top: 60%;
}
header.open .toggle span:nth-of-type(2) {
  transform: translateY(-150%) rotate(-315deg);
  top: 60%;
}
header.open .mask {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
footer {
  background-color: #DAE6D2;
  position: relative;
  padding-inline: 15px;
  padding-top: 30px;
  margin-inline: auto;
  position: relative;
}
footer .wave {
  position: absolute;
  top: -220px;
  left: 0;
  right: 0;
  z-index: -999;
}
@media (max-width: 1024px) {
  footer .wave {
    top: -160px;
  }
}
@media (max-width: 768px) {
  footer .wave {
    top: -100px;
  }
}
@media (max-width: 450px) {
  footer .wave {
    top: -60px;
  }
}
footer .logo {
  max-width: 250px;
  display: block;
  margin-bottom: 48px;
  margin-inline: auto;
}
footer .logo img {
  width: 100%;
}
footer .footer-top {
  height: 320px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 64px;
}
@media (max-width: 1024px) {
  footer .footer-top {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
  }
  footer .footer-top .access {
    grid-column: span 2;
  }
  footer .footer-top .access .text {
    display: flex;
  }
  footer .footer-top .access .text .address {
    width: 50%;
  }
  footer .footer-top .access .text .text-inner {
    width: 50%;
  }
}
@media (max-width: 768px) {
  footer .footer-top {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    margin-inline: auto;
  }
  footer .footer-top .access {
    grid-column: auto;
  }
}
footer .footer-top h3 {
  display: inline-block;
  border-bottom: 0.5px solid #5D5247;
  padding-bottom: 8px;
}
footer .footer-top img {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}
footer .footer-top .info-left,
footer .footer-top .info-right,
footer .footer-top .access {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-top .info-left a,
footer .footer-top .info-right a,
footer .footer-top .access a {
  transition: 0.3 ease;
}
footer .footer-top .info-left a:hover,
footer .footer-top .info-right a:hover,
footer .footer-top .access a:hover {
  opacity: 0.8;
}
footer .footer-top .overview,
footer .footer-top .contact,
footer .footer-top .access-inner {
  margin-bottom: 32px;
}
footer .footer-top .access .text .text-inner {
  display: flex;
  align-items: flex-end;
  margin-top: 8px;
}
footer .footer-top .access .text .text-inner img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-bottom: 3px;
}
footer .footer-top .access iframe {
  width: 100%;
  height: auto;
  background-color: #FAD3C5;
  box-shadow: 0px 4px 8px 0px rgba(75, 75, 75, 0.25);
  border-radius: 10px;
  padding: 4px;
}
footer .footer-top h3 {
  font-size: 1rem;
  margin-bottom: 8px;
}
footer .footer-top .contact p,
footer .footer-top .insurance p {
  font-size: 0.78rem;
  margin-block: 5px;
}
footer .footer-bottom {
  display: flex;
  text-align: center;
  margin-bottom: 48px;
}
@media (max-width: 1024px) {
  footer .footer-bottom {
    flex-direction: column;
    margin-inline: auto;
  }
}
footer .footer-bottom .careers-link,
footer .footer-bottom .support-link {
  width: 50%;
}
@media (max-width: 1024px) {
  footer .footer-bottom .careers-link,
  footer .footer-bottom .support-link {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  footer .footer-bottom .careers-link {
    margin-bottom: 24px;
  }
}
footer .to-top {
  position: fixed;
  right: 50px;
  bottom: 90px;
  display: none;
  opacity: 0.8;
}
footer .to-top::before {
  width: 1px;
  height: 50px;
  background-color: #5D5247;
  content: "";
  position: absolute;
  right: -5px;
  bottom: 10px;
  transition: 0.3s ease;
}
footer .to-top:hover::before {
  height: 60px;
}
footer .to-top::after {
  width: 1px;
  height: 10px;
  background-color: #5D5247;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  right: 0;
  bottom: 50px;
  transition: 0.3s ease;
}
footer .to-top:hover::after {
  bottom: 60px;
}
footer .to-top .inner {
  position: relative;
  cursor: pointer;
}
footer .to-top .inner img {
  width: 70px;
  height: 70px;
  display: block;
}
footer .to-top .inner p {
  font-size: 0.78rem;
  color: #f5f5f5;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
}
footer .footer {
  text-align: center;
  font-size: 0.58rem;
  padding-block: 25px;
}

.mainvisual {
  max-width: 100%;
  height: 100vh;
  position: relative;
}
@media (max-width: 768px) {
  .mainvisual {
    height: 50vh;
  }
}
.mainvisual img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainvisual .text {
  color: #F5F5F5;
  text-align: right;
  text-shadow: 0px 0px 15px rgb(169, 169, 169);
  position: absolute;
  top: 25%;
  right: 96px;
}
@media (max-width: 1024px) {
  .mainvisual .text {
    right: 20px;
  }
}
@media (max-width: 768px) {
  .mainvisual .text {
    display: none;
  }
}
.mainvisual .text h2 {
  font-size: 2rem;
}
.mainvisual .text h3 {
  font-size: 1.5rem;
}
.mainvisual .reception_wrapper {
  width: 680px;
  background-color: rgba(250, 211, 197, 0.95);
  box-shadow: 0px 4px 8px 0px rgba(75, 75, 75, 0.25);
  border-radius: 30px;
  position: absolute;
  top: 40%;
  right: 96px;
  padding: 20px 30px;
}
@media (max-width: 1024px) {
  .mainvisual .reception_wrapper {
    right: 20px;
  }
}
@media (max-width: 768px) {
  .mainvisual .reception_wrapper {
    display: none;
  }
}
.mainvisual .reception_wrapper .title {
  text-align: center;
  margin-bottom: 24px;
}
.mainvisual .reception_wrapper .reception_time {
  border-collapse: collapse;
  margin-bottom: 20px;
}
.mainvisual .reception_wrapper .reception_time tr th:nth-child(2) {
  font-size: 0.88rem;
}
.mainvisual .reception_wrapper .reception_time tr th,
.mainvisual .reception_wrapper .reception_time tr td {
  border-bottom: 0.5px solid #5D5247;
  padding: 10px 15px;
}
.mainvisual .reception_wrapper .reception_time tr td {
  width: 30px;
  text-align: center;
}
.mainvisual .reception_wrapper .reception-text {
  font-size: 0.88rem;
}

.news {
  padding-block: 48px;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .news {
    padding-block: 32px;
  }
}
.news .post {
  max-width: 768px;
  background-color: #FFF8F0;
  border: 1px solid #5D5247;
  border-radius: 30px;
  transition: all 0.3s ease;
  margin-left: auto;
}
.news .post .item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 32px;
}
@media (max-width: 1024px) {
  .news .post .item {
    flex-direction: column;
    padding: 16px 24px 24px 24px;
    margin-inline: auto;
  }
}
.news .post .item .article .date {
  margin-bottom: 8px;
}
.news .post .item .next {
  width: auto;
  align-self: center;
  text-align: center;
  font-size: 0.78rem;
  margin-block: 24px 16px;
  position: relative;
}
@media (max-width: 1024px) {
  .news .post .item .next {
    width: auto;
    margin-inline: auto;
    margin-block: 24px 16px;
  }
}
.news .post .item .next::before {
  width: 80%;
  height: 1px;
  background-color: #5D5247;
  content: "";
  position: absolute;
  bottom: -10px;
  transition: 0.5s ease;
}
.news .post .item .next::after {
  width: 1px;
  height: 10px;
  background-color: #5D5247;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  left: 77%;
  bottom: -18px;
  transition: 0.5s ease;
}
.news .post:hover {
  background-color: rgb(255, 236.1, 214.5);
}
.news .post:hover .next::before {
  width: 100%;
}
.news .post:hover .next::after {
  left: 97%;
}

.news_list {
  padding-top: 144px;
}
.news_list .container .post {
  margin-inline: auto;
  margin-bottom: 24px;
}
.news_list .container .post .item .article {
  width: 40%;
}
@media (max-width: 1024px) {
  .news_list .container .post .item .article {
    width: 80%;
    margin-bottom: 16px;
  }
}
.news_list .container .post .item .blog-img {
  width: 40%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #FAD3C5;
  border-radius: 30px;
}
@media (max-width: 1024px) {
  .news_list .container .post .item .blog-img {
    width: 60%;
    height: 300px;
  }
}
@media (max-width: 768px) {
  .news_list .container .post .item .blog-img {
    width: 80%;
    height: 150px;
  }
}
.news_list .container .post .item .next::after {
  left: 75%;
}
.news_list .container .post:hover .next::after {
  left: 95%;
}

.single {
  max-width: 768px;
  background-color: #FFF8F0;
  border: 1px solid #5D5247;
  border-radius: 30px;
  text-align: center;
  transition: all 0.3s ease;
  padding: 32px 48px 96px 48px;
  margin-inline: auto;
  position: relative;
}
@media (max-width: 768px) {
  .single {
    padding: 32px 32px 40px 32px;
  }
}
.single .article {
  text-align: left;
  margin-bottom: 24px;
}
.single .article .date {
  margin-bottom: 8px;
}
.single .article .title {
  margin-bottom: 16px;
}
.single .blog-img {
  width: 80%;
  border: 2px solid #FAD3C5;
  border-radius: 30px;
}
@media (max-width: 768px) {
  .single .blog-img {
    width: 100%;
  }
}
.single .back {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  transition: 0.3s ease;
}
@media (max-width: 768px) {
  .single .back {
    bottom: 10px;
  }
}
.single .back:hover {
  opacity: 0.8;
}
.single .back img {
  width: 13px;
  margin-left: 5px;
}

.about {
  padding-top: 96px;
}
.about h3 {
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 2px 1px 1px rgb(255, 255, 255);
  margin-bottom: 48px;
}
.about h3 span {
  display: block;
  font-size: 0.88rem;
  margin-top: 8px;
}
.about .service {
  margin-block: 96px;
}
.about .service .content {
  position: relative;
}
.about .service .content h3 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.about .service .content .img {
  width: 65%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  clip-path: polygon(0 0, 100% 0%, 66% 100%, 0% 100%);
  z-index: -10;
  opacity: 0;
  transform: translateX(-100px);
  transition: 1s ease;
}
@media (max-width: 1024px) {
  .about .service .content .img {
    width: 80%;
  }
}
.about .service .content .img.active {
  opacity: 1;
  transform: translateX(0);
}
.about .service .content .items {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1024px) {
  .about .service .content .items {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    left: 15%;
  }
}
@media (max-width: 768px) {
  .about .service .content .items {
    gap: 8px;
    left: 10%;
  }
}
.about .service .content .items .item {
  max-width: 250px;
  text-align: center;
  background-color: #FAD3C5;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 0px rgba(75, 75, 75, 0.25);
  transition: 0.5s ease;
  padding: 16px;
}
.about .service .content .items .item:hover {
  background-color: rgb(247.9761904762, 193.1904761905, 173.5238095238);
  box-shadow: 0px 4px 8px 0px rgba(75, 75, 75, 0.45);
}
.about .service .content .items .item:hover .text-1 {
  width: 90%;
}
.about .service .content .items .item a {
  width: 100%;
}
.about .service .content .items .item a img {
  width: 75px;
}
@media (max-width: 768px) {
  .about .service .content .items .item a img {
    width: 50px;
  }
}
.about .service .content .items .item a .text-1 {
  width: 95%;
  border-top: 1px solid #5D5247;
  transition: 0.5s ease;
  padding-top: 8px;
  margin-top: 8px;
  margin-inline: auto;
}
.about .service .content .items .item a .text-2 {
  font-size: 0.88rem;
}
.about .medical_care_subjects {
  margin-bottom: 96px;
}
.about .medical_care_subjects .background {
  background-image: url(../img/about-background.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-block: 48px;
}
.about .medical_care_subjects .background .subjects_pc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
@media (max-width: 1024px) {
  .about .medical_care_subjects .background .subjects_pc {
    display: none;
  }
}
.about .medical_care_subjects .background .subjects_pc .item {
  background-color: #FFF8F0;
  border-radius: 30px;
  box-shadow: 0px 4px 8px 0px rgba(75, 75, 75, 0.25);
  padding: 16px 24px;
}
.about .medical_care_subjects .background .subjects_pc .item dt {
  border-bottom: 1px solid #5D5247;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.about .medical_care_subjects .background .subjects_pc .item dt img {
  width: 20px;
  vertical-align: bottom;
}
.about .medical_care_subjects .background .subjects_pc .item .detail {
  margin-top: 8px;
}
.about .medical_care_subjects .background .subjects_pc .item .detail li {
  list-style: disc;
  margin-left: 20px;
}
.about .medical_care_subjects .background .accordion {
  display: none;
}
.about .medical_care_subjects .background .accordion .item {
  background-color: #FFF8F0;
  border: 0.5px solid #5D5247;
  border-radius: 30px;
  box-shadow: 0px 4px 8px 0px rgba(75, 75, 75, 0.25);
  padding: 24px;
  margin-bottom: 16px;
}
.about .medical_care_subjects .background .accordion .item .title {
  width: 100%;
  padding-bottom: 8px;
  position: relative;
}
.about .medical_care_subjects .background .accordion .item .title img {
  width: 20px;
  vertical-align: bottom;
}
.about .medical_care_subjects .background .accordion .item .title span {
  display: inline-block;
  position: absolute;
  right: 0;
}
.about .medical_care_subjects .background .accordion .item .content {
  width: 100%;
  display: none;
  border-top: 0.5px solid #5D5247;
  padding-top: 8px;
}
.about .medical_care_subjects .background .accordion .item .content p {
  width: 80%;
  margin-bottom: 8px;
  margin-inline: auto;
}
.about .medical_care_subjects .background .accordion .item .content ul {
  width: 80%;
  margin-inline: auto;
}
.about .medical_care_subjects .background .accordion .item .content ul li {
  list-style: disc;
  margin-left: 20px;
}
@media (max-width: 1024px) {
  .about .medical_care_subjects .background .accordion {
    display: block;
  }
}
.about .services {
  margin-bottom: 48px;
}
.about .services p {
  text-align: right;
  margin-top: 48px;
}
.about .services ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .about .services ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}
@media (max-width: 450px) {
  .about .services ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
.about .services ul li {
  width: 100%;
  text-align: center;
}
@media (max-width: 1024px) {
  .about .services ul li {
    width: 80%;
  }
}
.about .services ul li h4 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .about .services ul li h4 {
    font-size: 1rem;
  }
}
.about .services ul li .img-stack {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}
@media (max-width: 450px) {
  .about .services ul li .img-stack {
    width: 200px;
    height: 200px;
    margin-inline: auto;
  }
}
.about .services ul li .img-stack img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid #FAD3C5;
  box-shadow: 0px 4px 8px 0px rgba(75, 75, 75, 0.25);
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  animation: fade 9s infinite;
  margin-inline: auto;
}
@media (max-width: 450px) {
  .about .services ul li .img-stack img {
    border-radius: 30px;
  }
}
.about .services ul li .img-stack img:nth-child(1) {
  animation-delay: 0s;
}
.about .services ul li .img-stack img:nth-child(2) {
  animation-delay: 3s;
}
.about .services ul li .img-stack img:nth-child(3) {
  animation-delay: 6s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.calendar {
  position: relative;
}
.calendar .holiday-titles {
  margin-bottom: 96px;
}
.calendar .wave {
  width: 100%;
  position: absolute;
  bottom: -96px;
  margin: 0;
  padding: 0;
  z-index: -99;
}
.calendar .wave svg {
  display: block;
  width: 100%;
  height: auto;
}

.staff {
  padding-top: 144px;
  margin-bottom: 96px;
}
.staff h2 {
  margin-bottom: 48px;
}
@media (max-width: 1024px) {
  .staff h2 {
    margin-bottom: 0;
  }
}
.staff h3 {
  font-size: 1.5rem;
  margin-bottom: 48px;
}
.staff .doctors .doctor {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.staff .doctors .doctor img {
  width: 50%;
  box-shadow: 0px 4px 8px 0px rgba(75, 75, 75, 0.25);
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .staff .doctors .doctor img {
    width: 70%;
    align-items: flex-start;
  }
}
.staff .doctors .doctor .profile {
  width: 50%;
  padding: 32px;
}
@media (max-width: 1024px) {
  .staff .doctors .doctor .profile {
    width: 100%;
  }
}
.staff .doctors .doctor .profile .name {
  font-size: 1.3rem;
  margin-bottom: 8px;
}
.staff .doctors .doctor .profile .subjects {
  border-bottom: 0.5px solid #5D5247;
  padding-bottom: 16px;
  margin-bottom: 24px;
}
.staff .doctors .doctor-left .img {
  transition: 1s ease;
  transform: translateX(-50px);
  opacity: 0;
}
.staff .doctors .doctor-left .img.active {
  transform: translateX(0);
  opacity: 1;
}
@media (max-width: 1024px) {
  .staff .doctors .doctor-left {
    flex-direction: column;
  }
}
.staff .doctors .doctor-right .img {
  transition: 1s ease;
  transform: translateX(50px);
  opacity: 0;
}
.staff .doctors .doctor-right .img.active {
  transform: translateX(0);
  opacity: 1;
}
@media (max-width: 1024px) {
  .staff .doctors .doctor-right {
    flex-direction: column-reverse;
  }
}
.staff .medical-staff,
.staff .service-staff {
  margin-top: 96px;
}
@media (max-width: 1024px) {
  .staff .medical-staff,
  .staff .service-staff {
    margin-top: 48px;
  }
}
.staff .medical-staff h3,
.staff .service-staff h3 {
  text-align: center;
}
.staff .medical-staff .staff-slider,
.staff .service-staff .staff-slider {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.staff .medical-staff .staff-slider .slick-dots li button:before,
.staff .service-staff .staff-slider .slick-dots li button:before {
  position: absolute;
  bottom: 0;
}
.staff .medical-staff .staff-slider .profile,
.staff .service-staff .staff-slider .profile {
  max-width: 370px;
  height: auto;
  background-color: rgb(250.8095238095, 218.1238095238, 206.3904761905);
  box-shadow: 0px 4px 8px 0px rgba(75, 75, 75, 0.25);
  padding: 24px;
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .staff .medical-staff .staff-slider .profile,
  .staff .service-staff .staff-slider .profile {
    max-width: 90%;
  }
}
.staff .medical-staff .staff-slider .profile img,
.staff .service-staff .staff-slider .profile img {
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 4px 8px 0px rgba(75, 75, 75, 0.25);
  margin-bottom: 16px;
}
.staff .medical-staff .staff-slider .profile .name,
.staff .service-staff .staff-slider .profile .name {
  font-size: 1.2rem;
  margin-bottom: 16px;
}
.staff .medical-staff .staff-slider .profile .rep,
.staff .service-staff .staff-slider .profile .rep {
  margin-bottom: 8px;
}
.staff .medical-staff .staff-slider .profile .qualification,
.staff .service-staff .staff-slider .profile .qualification {
  margin-bottom: 16px;
}
.staff .medical-staff .staff-slider .slick-slide,
.staff .service-staff .staff-slider .slick-slide {
  opacity: 0.2;
  transition: opacity 0.3s ease;
  margin-inline: 15px;
}
.staff .medical-staff .staff-slider .slick-active,
.staff .service-staff .staff-slider .slick-active {
  opacity: 1;
}
.staff .medical-staff .staff-slider .slick-prev::before,
.staff .medical-staff .staff-slider .slick-next::before,
.staff .service-staff .staff-slider .slick-prev::before,
.staff .service-staff .staff-slider .slick-next::before {
  font-size: 2rem;
  color: #FAD3C5;
}

.job_offer {
  background-color: #fffdfa;
  position: relative;
  padding-top: 96px;
  margin-bottom: 200px;
}
.job_offer .section-title {
  text-align: center;
  margin-bottom: 96px;
}
.job_offer h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 48px;
}
.job_offer .wrapper {
  text-align: center;
}
.job_offer .wrapper .accordion .item {
  width: 100%;
  text-align: left;
  border-left: 2px solid #FAD3C5;
  padding-left: 16px;
  margin-bottom: 48px;
}
.job_offer .wrapper .accordion .item .title {
  width: 100%;
  position: relative;
  font-size: 1.2rem;
  transition: 0.3s ease;
  border-bottom: 2px solid #FAD3C5;
  padding-block: 16px;
}
@media (max-width: 768px) {
  .job_offer .wrapper .accordion .item .title {
    text-align: left;
  }
}
@media (max-width: 450px) {
  .job_offer .wrapper .accordion .item .title {
    font-size: 1rem;
  }
}
.job_offer .wrapper .accordion .item .title span {
  display: inline-block;
  position: absolute;
  right: 20px;
}
@media (max-width: 450px) {
  .job_offer .wrapper .accordion .item .title span {
    right: 10px;
  }
}
.job_offer .wrapper .accordion .item .title:hover {
  opacity: 0.8;
}
.job_offer .wrapper .accordion .item .content {
  width: 100%;
  display: none;
  border-bottom: 2px solid #FAD3C5;
  padding: 16px 32px;
  margin-top: 16px;
}
.job_offer .wrapper .accordion .item .content dl {
  display: flex;
  flex-wrap: wrap;
}
.job_offer .wrapper .accordion .item .content dl dt {
  width: 15%;
  line-height: 28px;
  margin-bottom: 32px;
}
.job_offer .wrapper .accordion .item .content dl dd {
  width: 85%;
  line-height: 28px;
  margin-bottom: 32px;
  position: relative;
}
.job_offer .wrapper .accordion .item .content dl dd::before {
  content: "：";
  position: absolute;
  left: -20px;
}
.job_offer .wrapper .accordion .item .content dl dd span {
  font-size: 0.78rem;
}
.job_offer .svg-top {
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  z-index: -10;
}
@media (max-width: 1024px) {
  .job_offer .svg-top {
    top: -160px;
  }
}
@media (max-width: 768px) {
  .job_offer .svg-top {
    top: -110px;
  }
}
@media (max-width: 500px) {
  .job_offer .svg-top {
    top: -90px;
  }
}
@media (max-width: 450px) {
  .job_offer .svg-top {
    top: -70px;
  }
}
.job_offer .svg-bottom {
  position: absolute;
  bottom: -220px;
  left: 0;
  right: 0;
  rotate: 180deg;
  z-index: -10;
}
@media (max-width: 1024px) {
  .job_offer .svg-bottom {
    bottom: -160px;
  }
}
@media (max-width: 768px) {
  .job_offer .svg-bottom {
    bottom: -110px;
  }
}
@media (max-width: 500px) {
  .job_offer .svg-bottom {
    bottom: -90px;
  }
}
@media (max-width: 450px) {
  .job_offer .svg-bottom {
    bottom: -70px;
  }
}

.form {
  padding-top: 144px;
  margin-bottom: 96px;
  position: relative;
}
.form .section-title {
  text-align: center;
}
.form .form-inner {
  background-color: #ffffff;
  border: 0.5px solid #5D5247;
  border-radius: 30px;
  box-shadow: 0px 4px 8px 0px rgba(75, 75, 75, 0.25);
  padding: 32px 48px;
  margin-bottom: 32px;
}
.form .form-inner .group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .form .form-inner .group {
    flex-direction: column;
  }
}
.form .form-inner .group .inquiry_type {
  width: 300px;
  color: #5D5247;
  border: 0.5px solid #5D5247;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  padding: 10px;
}
@media (max-width: 1024px) {
  .form .form-inner .group .inquiry_type {
    width: 200px;
  }
}
.form .form-inner .group label {
  width: 30%;
}
@media (max-width: 768px) {
  .form .form-inner .group label {
    width: 100%;
    margin-bottom: 15px;
  }
}
.form .form-inner .group label span {
  display: inline-block;
  color: red;
}
.form .form-inner .group .input-area {
  width: 70%;
}
@media (max-width: 768px) {
  .form .form-inner .group .input-area {
    width: 100%;
  }
}
.form .form-inner .group .input-area .form-input,
.form .form-inner .group .input-area .form-textarea,
.form .form-inner .group .input-area .form-email,
.form .form-inner .group .input-area .form-tel {
  width: 95%;
  color: #5D5247;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
}
@media (max-width: 768px) {
  .form .form-inner .group .input-area .form-input,
  .form .form-inner .group .input-area .form-textarea,
  .form .form-inner .group .input-area .form-email,
  .form .form-inner .group .input-area .form-tel {
    width: 100%;
  }
}
.form .form-inner .group .input-area .form-input::-moz-placeholder, .form .form-inner .group .input-area .form-textarea::-moz-placeholder, .form .form-inner .group .input-area .form-email::-moz-placeholder, .form .form-inner .group .input-area .form-tel::-moz-placeholder {
  color: #5D5247;
  opacity: 0.5;
}
.form .form-inner .group .input-area .form-input::placeholder,
.form .form-inner .group .input-area .form-textarea::placeholder,
.form .form-inner .group .input-area .form-email::placeholder,
.form .form-inner .group .input-area .form-tel::placeholder {
  color: #5D5247;
  opacity: 0.5;
}
.form .form-inner .group .input-area .form-textarea {
  height: 100px;
}
.form .form-inner .group .name,
.form .form-inner .group .age {
  display: flex;
  justify-content: space-between;
}
.form .form-inner .group .name .form-input,
.form .form-inner .group .age .form-input {
  width: 90%;
}
.form .form-inner .group .name .form-input:last-child,
.form .form-inner .group .age .form-input:last-child {
  margin-right: 0;
}
.form .form-inner .group .animal-name .form-input,
.form .form-inner .group .animal-type .form-input {
  width: 95%;
}
@media (max-width: 1024px) {
  .form .form-inner .group .animal-name .form-input,
  .form .form-inner .group .animal-type .form-input {
    width: 100%;
  }
}
.form .form-inner .group .gender label {
  cursor: pointer;
}
.form .form-inner .group .gender label span {
  color: #5D5247;
}
.form .form-inner .group .gender .form-input {
  width: auto;
}
.form .form-inner .group .resume .form-input {
  max-width: 300px;
  cursor: pointer;
}
.form .form-actions {
  text-align: center;
}
.form .back {
  position: absolute;
  right: 10%;
  transition: 0.3s ease;
}
.form .back:hover {
  opacity: 0.8;
}
.form .back img {
  width: 13px;
  margin-left: 5px;
}

.trimming,
.rescue,
.training,
.hotel {
  position: relative;
}
.trimming .mainvisual,
.rescue .mainvisual,
.training .mainvisual,
.hotel .mainvisual {
  position: absolute;
  max-height: 500px;
  max-width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  top: 6%;
  right: 3%;
}
@media (max-width: 1280px) {
  .trimming .mainvisual,
  .rescue .mainvisual,
  .training .mainvisual,
  .hotel .mainvisual {
    right: 0;
  }
}
@media (max-width: 1024px) {
  .trimming .mainvisual,
  .rescue .mainvisual,
  .training .mainvisual,
  .hotel .mainvisual {
    opacity: 0.3;
    top: 9%;
    right: 0;
    z-index: -1;
    height: auto;
  }
}
.trimming .service-top,
.rescue .service-top,
.training .service-top,
.hotel .service-top {
  height: 100vh;
  position: relative;
}
.trimming .service-top::before,
.rescue .service-top::before,
.training .service-top::before,
.hotel .service-top::before {
  width: 0.6px;
  height: 20%;
  content: "";
  background-color: #5D5247;
  position: absolute;
  left: 15%;
  bottom: 4%;
  z-index: 10;
}
@media (max-width: 768px) {
  .trimming .service-top::before,
  .rescue .service-top::before,
  .training .service-top::before,
  .hotel .service-top::before {
    height: 10%;
    left: 5%;
  }
}
.trimming .service-top::after,
.rescue .service-top::after,
.training .service-top::after,
.hotel .service-top::after {
  width: 70%;
  height: 0.6px;
  content: "";
  background-color: #5D5247;
  position: absolute;
  left: 15%;
  bottom: 4%;
  z-index: 10;
}
@media (max-width: 768px) {
  .trimming .service-top::after,
  .rescue .service-top::after,
  .training .service-top::after,
  .hotel .service-top::after {
    width: 90%;
    left: 5%;
  }
}
.trimming .service-top .title,
.rescue .service-top .title,
.training .service-top .title,
.hotel .service-top .title {
  width: 300px;
  margin-inline: auto;
  margin-bottom: 96px;
}
@media (max-width: 1024px) {
  .trimming .service-top .title,
  .rescue .service-top .title,
  .training .service-top .title,
  .hotel .service-top .title {
    margin-bottom: 48px;
  }
}
.trimming .service-top .title h2,
.rescue .service-top .title h2,
.training .service-top .title h2,
.hotel .service-top .title h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 128px;
}
.trimming .service-top .text,
.rescue .service-top .text,
.training .service-top .text,
.hotel .service-top .text {
  width: 60%;
}
@media (max-width: 1280px) {
  .trimming .service-top .text,
  .rescue .service-top .text,
  .training .service-top .text,
  .hotel .service-top .text {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .trimming .service-top .text,
  .rescue .service-top .text,
  .training .service-top .text,
  .hotel .service-top .text {
    width: 90%;
    text-shadow: 4px 3px 5px #f5f5f5;
  }
}
.trimming .service-top .text .text-1,
.rescue .service-top .text .text-1,
.training .service-top .text .text-1,
.hotel .service-top .text .text-1 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}
.trimming .service-top .text .text-2,
.rescue .service-top .text .text-2,
.training .service-top .text .text-2,
.hotel .service-top .text .text-2 {
  margin-bottom: 8px;
}
.trimming .service-top .text .text-3,
.rescue .service-top .text .text-3,
.training .service-top .text .text-3,
.hotel .service-top .text .text-3 {
  display: inline;
  border-bottom: 0.5px solid #5D5247;
}
.trimming .service-top .btn,
.rescue .service-top .btn,
.training .service-top .btn,
.hotel .service-top .btn {
  margin-inline: auto;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -200%);
}
@media (max-width: 768px) {
  .trimming .service-top .btn,
  .rescue .service-top .btn,
  .training .service-top .btn,
  .hotel .service-top .btn {
    width: 80%;
    bottom: -7%;
  }
}
.trimming svg,
.rescue svg,
.training svg,
.hotel svg {
  width: 50%;
  position: absolute;
  top: 20%;
  left: -20px;
  z-index: -99;
}
@media (max-width: 768px) {
  .trimming svg,
  .rescue svg,
  .training svg,
  .hotel svg {
    display: none;
  }
}

.plan {
  margin-block: 96px;
}
@media (max-width: 768px) {
  .plan {
    margin-block: 48px;
  }
}
.plan .content {
  position: relative;
}
.plan .content::before {
  width: 30%;
  height: 0.5px;
  content: "";
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background-color: #5D5247;
  z-index: -10;
}
@media (max-width: 768px) {
  .plan .content::before {
    display: none;
  }
}
.plan .content .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.plan .content .item .text {
  width: 45%;
}
@media (max-width: 768px) {
  .plan .content .item .text {
    width: 100%;
    border: 0.5px solid #5D5247;
    border-radius: 30px;
    padding: 16px 24px;
  }
}
.plan .content .item .text table {
  border-collapse: collapse;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 16px;
  padding: 8px;
}
.plan .content .item .text table tr:last-child td {
  border-bottom: none;
}
.plan .content .item .text table tr th,
.plan .content .item .text table tr td {
  border-bottom: 0.5px solid #5D5247;
  border-right: 0.5px solid #5D5247;
  padding: 8px;
}
.plan .content .item .text table tr th:last-child,
.plan .content .item .text table tr td:last-child {
  border-right: none;
}
.plan .content .item .supplement {
  width: 80%;
  font-size: 0.78rem;
  margin-inline: auto;
}
.plan .content .item .supplement li {
  list-style-type: disc;
  list-style-position: inside;
}
.plan .content .item .img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  height: 300px;
  opacity: 0;
  box-shadow: 0px 4px 8px 0px rgba(75, 75, 75, 0.25);
  transition: 1s ease;
}
@media (max-width: 768px) {
  .plan .content .item .img {
    width: 100%;
    margin-bottom: 40px;
  }
}
.plan .content .item .img.active {
  opacity: 1;
  transform: translateX(0);
}
@media (max-width: 768px) {
  .plan .content .left {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .plan .content .left:last-child {
    margin-bottom: 0;
  }
}
.plan .content .left .img {
  border-radius: 0 200px 200px 0;
  transform: translateX(-100px);
}
@media (max-width: 768px) {
  .plan .content .right {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }
}
.plan .content .right .img {
  border-radius: 200px 0 0 200px;
  transform: translateX(100px);
}

.hotel .plan .content,
.rescue .plan .content,
.training .plan .content {
  position: relative;
}
.hotel .plan .content::after,
.rescue .plan .content::after,
.training .plan .content::after {
  width: 30%;
  height: 0.5px;
  content: "";
  position: absolute;
  top: 616px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  background-color: #5D5247;
  z-index: -10;
}
@media (max-width: 768px) {
  .hotel .plan .content::after,
  .rescue .plan .content::after,
  .training .plan .content::after {
    display: none;
  }
}

.hotel .plan .content .item .text table,
.trimming .plan .content .item .text table {
  width: 80%;
}
@media (max-width: 768px) {
  .hotel .plan .content .item .text table,
  .trimming .plan .content .item .text table {
    width: 100%;
  }
}

.training .plan .left {
  position: relative;
}
.training .plan .left::before {
  width: 30%;
  height: 0.5px;
  content: "";
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background-color: #5D5247;
  z-index: -10;
}
@media (max-width: 768px) {
  .training .plan .left::before {
    display: none;
  }
}
.training .plan .text p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 24px;
}
.training .plan .text p span {
  display: inline-block;
  font-size: 0.88rem;
}
.training .plan .text table .con {
  width: 70%;
}
.training .plan .text table .fee {
  width: 30%;
}
.training .plan .text table td ul li {
  text-align: left;
  list-style-type: disc;
  margin-left: 10px;
}

.rescue .work .content .text .inner-1 {
  width: 80%;
  font-size: 1.2rem;
  margin-inline: auto;
  margin-bottom: 8px;
}
.rescue .work .content .text .inner-2 {
  width: 80%;
  margin-inline: auto;
}

.information {
  margin-bottom: 96px;
}
@media (max-width: 768px) {
  .information {
    margin-bottom: 48px;
  }
}
.information .container .border {
  width: 100%;
  height: 50vh;
  border: 0.5px solid #5D5247;
  border-radius: 30px;
  padding: 48px;
}
@media (max-width: 768px) {
  .information .container .border {
    padding: 16px;
  }
}
.information .container .border .wrapper {
  height: 100%;
  overflow-y: auto;
}
.information .section-title {
  text-align: center;
}
.information .section-title p {
  font-size: 0.88rem;
}
.information dl dt {
  margin-bottom: 8px;
}
.information dl dt span {
  font-size: 0.78rem;
  margin-left: 12px;
}
.information dl dd {
  color: rgb(121.9207317073, 107.5, 93.0792682927);
  margin-bottom: 32px;
}
.information dl dd:last-child {
  margin-bottom: 0;
}
.information dl dd ul {
  font-size: 0.78rem;
  margin-bottom: 8px;
}
.information dl dd ul li {
  list-style: disc inside;
}
.information dl dd p {
  font-size: 0.78rem;
}

.wanted {
  text-align: center;
}
.wanted .section-title {
  text-align: left;
}
.wanted .wanted-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 48px;
}
@media (max-width: 1024px) {
  .wanted .wanted-list {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 32px;
  }
}
.wanted .wanted-list li {
  width: 100%;
  height: auto;
  background-color: #FAD3C5;
  box-shadow: 0px 4px 8px 0px rgba(75, 75, 75, 0.25);
  text-align: left;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .wanted .wanted-list li {
    width: 80%;
    margin-inline: auto;
  }
}
@media (max-width: 500px) {
  .wanted .wanted-list li {
    flex-direction: column;
  }
}
.wanted .wanted-list li .img {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 4px 8px 0px rgba(75, 75, 75, 0.25);
  transform: translateX(-50px);
  transition: 1s ease;
  opacity: 0;
  border-radius: 0 50% 50% 0;
}
@media (max-width: 500px) {
  .wanted .wanted-list li .img {
    width: 80%;
    height: 80%;
    transform: translateX(0) translateY(-50px);
    border-radius: 0;
  }
}
.wanted .wanted-list li .img.active {
  transform: translateX(0);
  opacity: 1;
}
.wanted .wanted-list li .text {
  width: 50%;
  padding: 16px;
}
@media (max-width: 500px) {
  .wanted .wanted-list li .text {
    width: 100%;
  }
}
.wanted .wanted-list li .text p {
  text-align: center;
  margin-bottom: 16px;
}
.wanted .wanted-list li .text p span {
  display: block;
  border-bottom: 0.5px solid #5D5247;
  padding-bottom: 16px;
}
.wanted .wanted-list li .text dl {
  display: flex;
  flex-wrap: wrap;
}
.wanted .wanted-list li .text dl dt {
  width: 25%;
}
.wanted .wanted-list li .text dl dd {
  width: 75%;
}

.wanted-page {
  padding-top: 144px;
  margin-bottom: 48px;
  position: relative;
}
.wanted-page .back {
  position: absolute;
  right: 10%;
  bottom: 0;
  transition: 0.3s ease;
}
.wanted-page .back:hover {
  opacity: 0.8;
}
.wanted-page .back img {
  width: 13px;
  margin-left: 5px;
}

.support {
  text-align: center;
  background-color: rgb(255, 252.76, 250.2);
  position: relative;
  padding-block: 48px;
  margin-top: 80px;
  margin-bottom: 96px;
}
@media (max-width: 1024px) {
  .support {
    margin-top: 50px;
    margin-bottom: 48px;
  }
}
.support .svg-top {
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  z-index: -10;
}
@media (max-width: 1024px) {
  .support .svg-top {
    top: -160px;
  }
}
@media (max-width: 768px) {
  .support .svg-top {
    top: -110px;
  }
}
@media (max-width: 500px) {
  .support .svg-top {
    top: -90px;
  }
}
@media (max-width: 450px) {
  .support .svg-top {
    top: -70px;
  }
}
.support .svg-bottom {
  position: absolute;
  bottom: -220px;
  left: 0;
  right: 0;
  rotate: 180deg;
  z-index: -10;
}
@media (max-width: 1024px) {
  .support .svg-bottom {
    bottom: -160px;
  }
}
@media (max-width: 768px) {
  .support .svg-bottom {
    bottom: -110px;
  }
}
@media (max-width: 500px) {
  .support .svg-bottom {
    bottom: -90px;
  }
}
@media (max-width: 450px) {
  .support .svg-bottom {
    bottom: -70px;
  }
}
.support ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
@media (max-width: 1024px) {
  .support ul {
    flex-direction: column;
  }
}
.support ul li {
  width: 280px;
  border: 2px solid #DAE6D2;
  border-radius: 30px;
  padding: 24px 16px;
}
@media (max-width: 1024px) {
  .support ul li {
    margin-inline: auto;
    margin-bottom: 16px;
  }
  .support ul li:last-child {
    margin-bottom: 0;
  }
}
.support ul li .title {
  width: 70%;
  border-bottom: 1.5px solid #DAE6D2;
  padding-bottom: 8px;
  margin-bottom: 16px;
  margin-inline: auto;
}
.support ul li .text {
  text-align: left;
}
.support .more {
  width: 80px;
  font-size: 1.2rem;
  position: relative;
}
.support .more::before {
  width: 90%;
  height: 1px;
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.3s ease;
  background-color: #5D5247;
}
.support .more::after {
  width: 10px;
  height: 1px;
  content: "";
  position: absolute;
  bottom: -11.5px;
  right: 6px;
  background-color: #5D5247;
  transition: 0.3s ease;
  rotate: -45deg;
}
.support .more:hover {
  opacity: 0.8;
}
.support .more:hover::before {
  width: 100%;
}
.support .more:hover::after {
  right: -1px;
}

.support-fixed_page {
  text-align: center;
  margin-top: 128px;
  margin-bottom: 48px;
}
.support-fixed_page .accordion {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .support-fixed_page .accordion {
    flex-direction: column;
  }
}
.support-fixed_page .accordion .item {
  width: 400px;
  margin-inline: auto;
}
@media (max-width: 1024px) {
  .support-fixed_page .accordion .item {
    margin-bottom: 16px;
  }
  .support-fixed_page .accordion .item:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 450px) {
  .support-fixed_page .accordion .item {
    width: 270px;
  }
}
.support-fixed_page .accordion .item .title {
  width: 100%;
  background-color: rgb(204.5214285714, 220.8928571429, 193.6071428571);
  transition: 0.3s ease;
  position: relative;
  padding-block: 8px;
}
.support-fixed_page .accordion .item .title:hover {
  background-color: rgb(191.0428571429, 211.7857142857, 177.2142857143);
}
.support-fixed_page .accordion .item .title span {
  display: inline-block;
  position: absolute;
  right: 20px;
}
.support-fixed_page .accordion .item .content {
  width: 100%;
  display: none;
  background-color: rgb(231.4785714286, 239.1071428571, 226.3928571429);
  padding-block: 16px;
}
.support-fixed_page .accordion .item .content .text {
  width: 70%;
  text-align: left;
  margin-inline: auto;
}
.support-fixed_page .accordion .item .content .text p {
  margin-bottom: 8px;
}
.support-fixed_page .accordion .item .content .text ul li {
  list-style: disc inside;
}

.method {
  background-image: url(../img/method-background.png);
  background-position: center top;
  background-size: cover;
  transition-property: background-position;
  background-attachment: fixed;
  padding-block: 96px;
  margin-bottom: 96px;
  position: relative;
}
@media (max-width: 1024px) {
  .method {
    padding-block: 48px;
    margin-bottom: 48px;
  }
}
.method .lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 768px) {
  .method .lists {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
}
.method .lists .list {
  background-color: rgba(245, 245, 245, 0.9);
  border-radius: 10px;
  padding: 24px;
}
.method .lists .list h3 {
  margin-bottom: 16px;
}
.method .lists .list dl {
  display: flex;
  flex-wrap: wrap;
}
.method .lists .list dl dt {
  width: 20%;
}
.method .lists .list dl dd {
  width: 80%;
}
.method .lists .list img {
  width: 18px;
}
.method .lists .list .attention {
  font-size: 0.88rem;
  margin-top: 8px;
}
.method .lists .list .list-inner li {
  list-style: disc;
  margin-left: 20px;
}
.method .back {
  position: absolute;
  bottom: -50px;
  right: 20%;
  transition: 0.3s ease;
}
.method .back:hover {
  opacity: 0.8;
}
.method .back img {
  width: 13px;
  margin-left: 5px;
}/*# sourceMappingURL=main.css.map */