// responsive

$pc: 1280px;
$tab: 1024px;
$sp: 768px;
$sp-500: 500px;
$sp-450: 450px;

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin sp-500 {
  @media (max-width: ($sp-500)) {
    @content;
  }
}

@mixin sp-450 {
  @media (max-width: ($sp-450)) {
    @content;
  }
}



$base-color: #FFF8F0;      // ベースカラー
$main-color: #FAD3C5;      // メインカラー
$accent-color: #DAE6D2;    // アクセントカラー
$font-color: #5D5247;      // フォントカラー
$white: #F5F5F5;           // ホワイト


$padding: 15px;     // ps.padding-inline
$bottom: 96px;     // pcセクション間隔
$bottom-sp: 48px;   // セクションタイトル下・spセクション間隔


$shadow: 0px 4px 8px 0px rgba(75,75,75,0.25);// box-shadow